<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><a href="../">Back</a></p>
    <h1><%= title %></h1>
    <% corgi.forEach(function(corgi) { %>
      <% if (corgi.liked === true) { %>
       <img src="<%=corgi.image%>">
        <p>Name: <%= corgi.name %><br>
        <p>Age: <%= corgi.age %></p>
        <p>Interests: <%= corgi.interests %></p>

        <% } %>
      <% }); %>
  </body>
</html>
