<% include partials/header %>
 <p><a href="../" class="fa fa-3x fa-arrow-left"></a></p>
 <h1 class="logo"><%= title %></h1>

<ul class="list-group">
 <% corgi.forEach(function(corgi) { %>
   <% if (corgi.liked === true) { %>
      <li class="list-group-item">
       <div class="container">
        <div class="row">
         <div class="col-sm-4">
      <img src="<%=corgi.image%>" class="img-responsive img-center">
     </div>
       <div class="col-sm-8 pull-">
       <h1 class="corgi"><%= corgi.name %>, <%= corgi.age %></h1>
       <h4>Interests</h4>
       <p><%= corgi.interests %></p>
      </div>
     </div>
     </div>
     <% } %>
    </li>
   <% }); %>
  </ul>
 <% include partials/footer %>
